<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="col-md-12 col-sm-12"> 
        <form class="form-horizontal" action="/oauth_credentials" method="post" role="form">
          <div class="form-group">
            <div class="col-sm-6">
              <h1>Oauth Details</h1>
            </div>
          </div>
          <div class="form-group">
            <label for="client_id" class="col-sm-2 control-label">Client Id</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" name="client_id" placeholder="Client Id">
              </div>
          </div>
          <div class="form-group">
            <label for="client_secret" class="col-sm-2 control-label">Client Secret</label>
              <div class="col-sm-6">
                <input type="password" class="form-control" name="client_secret" placeholder="Client Secret">
              </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">Sign in</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
