<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	</head>
	<body>
		<div class="container">
			<div class="col-md-12 col-sm-12"> 
	  			<form class="form-horizontal" action="/login" style="padding-top:25px">
	  				<div class="form-group">
            			<h1>Login</h1>
          			</div>
          			<div class="form-group">
            			<INPUT class="btn btn-default" TYPE="submit" id="submit" value="Facebook Login">
          			</div>
				</form>
			</div>
		</div>
	</body>
</html>
